In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
prefix = '/content/drive'
from google.colab import drive
drive.mount(prefix, force_remount=True)

Mounted at /content/drive

In [ ]:
file_path1 = "/content/drive/Shareddrives/CIS550 Final/data/processed_data/Routes.csv"
file_path2="/content/drive/Shareddrives/CIS550 Final/data/processed_data/airline.csv"
file_path3="/content/drive/Shareddrives/CIS550 Final/data/processed_data/airports.csv"

In [ ]:
routes = pd.read_csv(file_path1)
airline=pd.read_csv(file_path2)
airports=pd.read_csv(file_path3)

In [ ]:
print(routes)

       AirlineID  Source_Airport_ID  Destination_Airport_ID
0            410               2965                    2990
1            410               2966                    2990
2            410               2966                    2962
3            410               2968                    2990
4            410               2968                    4078
...          ...                ...                     ...
65293       4178               6334                    3341
65294      19016               4029                    2912
65295      19016               2912                    4029
65296      19016               2912                    2913
65297      19016               2913                    2912

[65298 rows x 3 columns]

In [ ]:
routes=routes[routes['Destination_Airport_ID'].isin(airports['airport_id'].unique())]

In [ ]:

del df['Airline']

In [ ]:
df.isnull().any()

Airline                   False
AirlineID                 False
Source_Airport_ID         False
Destination_Airport_ID    False
dtype: bool

In [ ]:
df.dtypes

Airline                   string
AirlineID                  int64
Source_Airport_ID          int64
Destination_Airport_ID     int64
dtype: object

In [ ]:
df=df.astype({ 'AirlineID':"int64", 'Source_Airport_ID':'int64',"Destination_Airport_ID":"int64"})

In [ ]:
for col in df.columns:  # iterate over all columns
  if df[col].dtype not in [np.int64, np.float64]:  # ignore integer and float columns
    # print a header, all unique values, and a separator
    print('Unique Values for {}'.format(col))  
    print(df[col].unique())   
    print('')

In [ ]:
df.head()

   AirlineID  Source_Airport_ID  Destination_Airport_ID
0        410               2965                    2990
1        410               2966                    2990
2        410               2966                    2962
3        410               2968                    2990
4        410               2968                    4078

In [ ]:
df=df[df.Destination_Airport_ID < "\\N"]
# df=df[df.Name != "Private flight"]
# df=df.drop(
#     columns=['Active']
# )

In [ ]:
routes.to_csv("/content/drive/Shareddrives/CIS550 Final/data/processed_data/Routes.csv",index=False)